*{
  padding: 0;
  margin: 0;
}

.canvas-container{
  margin: auto;
  width: 800px;
  height: 400px;
  margin-top: 50px;
}

@font-face {
  font-family: gameFont;
  src: url(../fonts/joystix_monospace.ttf);
}
