*{
  padding: 0;
  margin: 0;
  background: #0D332A;
  font-family: 'Press Start 2P';
}

img {
  background: transparent;
}

@font-face {
  font-family: gameFont;
  src: url(../fonts/press-start-2p.ttf);
}


.canvas-container{
  margin: auto;
  width: 800px;
  height: 600px;
  background: #0D332A;
  margin-top: 150px;
}


.image {
  position: absolute;
  top: 0;
}

.tree {
  top: 300px;
  left: -20px;
}

.gifts {
  top: 500;
  left: 70px;
  width: 200px;
}

.board {
  height: 200px;
  width: 400px;
  top: -150px;
  left: 250;
}

.board-text {
  position: absolute;
  background: transparent;
  top: -80px;
  left: 310px;
  color: #f5f2d0;
  text-shadow: 2px 2px #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  p {
    background: transparent;
    margin: 10px 0;
  }
}

.duck {
  top: -75;
  left: 600px;
}

.bob-head {
  height: 120px;
  width: 120px;
  position: relative;
  margin: 0 10px;
  animation: mymove 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

@keyframes mymove {
  0%   {
    rotate: 0deg;
  }
  20%  { rotate: -10deg;}
  40%  {
    rotate: 0deg;
  }

  80% { rotate:10deg;}
  100% { rotate: 0deg;}
}

.bob-head-container {
  position: absolute;
  top: unset;
  bottom: 00px;
  right: -300px;
  display: flex;
  justify-content: space-between;
}



#spin-btn {
  border: none;
  position: absolute;
  bottom: -30px;
  left: 370px;
  padding: 10px;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background-color: #e4000F;
  color: #f5f2d0;
  box-shadow: 0 9px #999;
  cursor: pointer;
}

#usedUp {
  padding-top: 40px;
  margin: auto;
  width: 800px;
  color: #f5f2d0;
}


#spin-btn:hover { background-color: #e4001F }

#spin-btn:active {
  background-color: #EB1D36;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}