*{
  padding: 0;
  margin: 0;
  background-color: #C3C3C3;
  font-family: 'Press Start 2P';
}

@font-face {
  font-family: gameFont;
  src: url(../fonts/press-start-2p.ttf);
}


.canvas-container{
  margin: auto;
  border: 1px solid black;
  width: 800px;
  height: 600px;
  background-color: #C3C3C3;
  margin-top: 50px;
}


#spin-btn {
  border: none;
  position: absolute;
  bottom: -30px;
  left: 370px;
  padding: 10px;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background-color: #4DBC15;
  color: white;
  text-align: center;
  font-size: 36px;
  box-shadow: 0 9px #999;
  cursor: pointer;
}

#usedUp {
  padding-top: 40px;
  margin: auto;
  width: 800px;
}

.title-card {
  position: absolute;
  background: transparent;
  color: white;
  text-transform: uppercase;
  font-size: 26px;
  left: 124px;
  top: 131px;
  transform: rotatez(-8.65deg);
}


#spin-btn:hover {
  background-color: #45a912
}

#spin-btn:active {
  background-color: #EB1D36;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}