@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */

	.header-top{display: none;}
	.header-top-mobile{
		background:#76C7C0;
	}

	

	.navbar-bottom-image{
		background: url(../images/header-top-background-bottom.png) repeat-x;
	    height: 8px;
	    width: 100%;

	    bottom: 0;
	    z-index: 10;
	}

	.mobile-menu{
		    width: 100%;
		    padding: 12px;
		    background: #528B86;
		    color: #ffffff;
		    text-transform: uppercase;
		    font-size: 14px;
	}
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}




/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
	 
	.header-top-mobile{display: none;} 
	.container{

		width:73.125em ;
		margin: 0 auto;
	 	
	}
	.header-top{
		background: url('../images/header-background.png') repeat-x;
		
	}
	.header-contents{
		 padding: 27px  0 26px 9px;
	}
	.header-bottom{
		 
	    font-family: 'Open Sans'; 
		background : url('../images/Project-navBackground.png') repeat-x;
		padding: 27px 0 27px 0;
	}






}








body{
	background-color: #F3F3F3;
	 font-family: 'Open Sans'; 
}
