@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */

    .logo{
        margin-left: 40%;
       
       margin-bottom: 1%;
    }

    .h_menu{
        margin-left: 45%;
    }

    .h_menu:hover ul{display: block;}


    .mobile-menu-list{display: none; position: absolute;top:100px; left: 43%; background: #dcefed; text-align: left;width:100px;padding: 10px;}

    .mobile-menu-list a{color: black;text-decoration: none;}

    .mobile-menu-list li a:hover{color: white;background: #414444; }



    .search{
        position: relative;
    }

    .search:hover .search-holder{
        display: block;
    }

    .search-holder{
        position: absolute;
        display: none;
        top: 15px;
        z-index: 1;

    }


        .nav-header{
            float: left;
           
            color: #7F8C8C;
            text-transform: uppercase;
             
            position: relative;
            padding-bottom: 25px;
         
          
        }


        .nav-header h3{
             font-weight:600;
            font-size: 20px;
            padding-left: 6px;

        }

        .absolute {
            position: absolute;
            top: 53px;
            content: url('../images/nav-bar-triangle.png');
             
            
        }

        .header-bottom ul {
            float: right;  

        }

        .header-bottom ul li{
            display: inline;
        }

        ul.nav-breadcrumb {
         
            list-style: none;
            background-color: #eee;
            margin-right: 10px;
        }
        ul.nav-breadcrumb li {
            display: inline;
            font-size: 18px;

        }
        ul.nav-breadcrumb li+li:before {
            padding: 6px;
            color: black;
            content: url('../images/breadcrum_seperator.png'); ;
        }
        ul.nav-breadcrumb li a {
            
            color: #7F8C8C;
            font-size: 12px;
            text-decoration: none;
        }
        ul.nav-breadcrumb li a:hover {
            color: red;
           
        }


   .body-contents{
            font-family: 'Open Sans';
    }

    .product-slider{
         
    }

    .product-slider-title{

        padding: 23px 0px;
    }

    .product-slider-title h3{
        float: left;
         font-weight:700;

        font-size: 25px;
        color: #7F8C8C;
        margin: 2px 6px 0 20px;
    }

    .slider-buttons{
        background: #F3F3F3;
        width: auto;
        float: right;
        vertical-align: middle;
        margin: 0 2px 0 0;
    }

    .btn-slider{
        display: inline-block;
        margin-right: 20px;
        float: right;
        height: 41px;
        width: 40px;
        border: none;
        border-bottom: 4px solid #7F8C8C;
        background-color: #98A3A3;
        border-radius: 5px;
        padding: 0;
         font-weight:bolder;
        font-size: 25px;
        text-align: center;
        color: #fff;
    }

    .btn-slider:hover {
         background-color: red;
          border-bottom: 3px solid red;
          cursor: pointer;
    }

    .slider{
        
        margin:27px 0; 
        overflow: hidden;
        
    }

    .sliderImages {
        width : 100%;
        height: 700px;
        border-radius: 5px ;
        overflow: hidden;
        border-bottom: 3px solid #7F8C8C;
        position: relative;
        left: 0;
    }

     .slider-control .left{
       
        height: 57px;
        width: 48px; 
        opacity: 1;
        border: none;
        background-color: red;
        border-bottom: 3px solid red;
        border-radius: 5px;
        padding: 0;
        font-weight:bolder;
        font-size: 40px;
        text-align: center;
        color: #fff;
        position: absolute;
        top: 320px;
        bottom: 0;
        left: 0;
       
    }

    .slider-control .right{
        height: 57px;
        width: 48px; 
        opacity: 1;
        border: none;
        background-color: red;
        border-bottom: 3px solid red;
        border-radius:5px 0 0 5px;
        padding: 0;
        font-weight:bolder;
        font-size: 40px;
        text-align: center;
        color: #fff;
        position: absolute;
        top: 320px;
        bottom: 0;
        right: 0;
      
    }

     .slider-indicators{
        padding: 20px;
        margin-left: 40%;
     }


     .slider-indicators li{
      
        display: inline;
     }

     .slider-image-indicator{
        content: url('../images/indicators.png');
     }

    .slider-indicators ul li{
        padding-right: 3px;
    }


    .slider-indicators ul li:hover{
         content: url('../images/indicator-active.png');
         cursor: pointer;
    }

      .current{
         content: url('../images/indicator-active.png');
     }




    .project-description{
     

         width: 100%;
           position: 2px 5px;

    }

    .title{
         color: #7F8C8C;
         font-size: 16px;
         font-weight:bolder;
         text-transform: uppercase;
         padding-top: 24px;
         

    }

    .content-details{


        line-height: 22px;
        color: #7F8C8C;
        font-size: 14px;
         margin: 30px 34px 30px 30px;
    }


    .content-details p{
        padding-top: 20px;
        padding-bottom: 6px;
    }


    .project-details{

        position: 2px 5px;
         width: 100%;
      }
     
     .project-content-details{
        padding-top: 8px;
         color: #7F8C8C;
        font-size: 14px;
         margin: 30px 34px 30px 30px;
     }

      .project-content-details ul li .list-left{
         float: left;
         margin: 0 5px;
      }

      .project-content-details ul li .list-left i{
         float: left;
         margin: 4px 10px;
      }



      .project-content-details ul li .list-right{
        float: right;
        width: 83px;
        text-align: right;
      }

      .project-content-details ul li .list-right a{
        color: red;
        text-decoration: none;
      }



       .project-content-details ul li {
        padding: 14px 0;
        border-bottom: solid 1px #7F8C8C;
      }

      .project-content-details ul li:last-child{
        border-bottom: none;
       
      }


    .related-products{
        padding:67px 0 59px 0;
        
    }


    .related-projects-title .title{
        float: left;
        padding-top: 0;
        padding-right: 20px;
        background-image: url('../images/related-dot.png');
        background-repeat: no-repeat; 
        background-position: right;
    }

    .related-projects-title .line{
        float: left;
        padding-top: 30px;
        height: 24px;
        width: auto;
        background: url('../images/related-bar.png') repeat-x;
    }

    .related-slider-buttons{
        float: right;
        margin-top: -10px;
    }


    .related-btn-slider{
        display: inline-block;
        margin-left: 20px;
        float: right;
        height: 41px;
        width: 40px;
        border: none;
        border-bottom: 4px solid #7F8C8C;
        background-color: #98A3A3;
        border-radius: 5px;
        padding: 0;
         font-weight:bolder;
        font-size: 25px;
        text-align: center;
        color: #fff;
    }


    .related-btn-slider:hover {
         background-color: red;
          border-bottom: 3px solid red;
          cursor: pointer;
    }
    .related-products-slider {
        padding: 32px 0;
        
    }

    .related-products-slider li{
        display: inline;
        float: left;
         
    }

    .related-products-slider li .products-container{

        height: 270px;
        width: 270px;
        box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.10);
        position: relative;
    }



    .related-products-slider li:hover .products-popup {
        display: block;
    }



    .related-products-slider li .products-popup{
        position: absolute;
        top: 0;
        width: 270px;
        height: 270px;
        background: #83CCC5;
        display: none;
    }


    .related-products-slider ul li{
        margin:2% 10%;
    }

     
    .products-links{
        margin : 110px 70px;
    }

    .products-links ul li{
         
        padding: 10px;
         color: white;
         font-size: 16px;
         font-weight: bolder;
         background-color: #98A3A3;

    }


    .products-links ul li a{
         
     
         color: white;
         
    }

     
    .products-links ul li:hover{
         
         background-color: red;
        color: white;
        cursor: pointer;
             
    }

     
    .related-product-description{
        display: block;
        padding-top: 100px; 
        width: 120px;
        font-size: 14px;
        font-weight: bold;
        color: white;
         margin-left: 5%;
    }

    .footer-top-img{
        background: url('../images/footer-top.png') repeat-x;
        height: 19px;
    }

    .footer-top{
        background: #76C7C0;
        color: white;
    }

    .footer-top-contents {
        padding-top: 29px;
    }

    .modus-versus{
       
       margin-left: 5%;
        width: auto;
        margin-bottom: 5%;
    }

    .contact-text{
        width: auto;
        font-size: 13px;
        line-height: 1.8;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .contact-info{
            font-size: 13px;
        line-height: 1.8;
        margin: 0;
    }

    .contact-info span{
        margin-left: 15px;
        font-style: italic;
        font-size: 20px;
    }

    .footer-company{
        
       width: 100%;
        margin-left: 35px;
    }

    .footer-lists {
        margin-left: 25px;
        margin-top: 25px;
    }




    .footer-lists li a {
        color: #fff;
        text-decoration: none;

    }

     .footer-lists li {
        color: #fff;
        font-size: 13px;
        
    }


    .footer-company ul{
         list-style-image: url('../images/footer-listing.png');
    }


    .footer-company h2{
        margin-bottom: 0;
        padding-left: 3px;
        margin-top: 7px;
        color: #000;
        opacity: 0.5;
        font-weight: bold;
        font-size: 20px;
        line-height: 1.2;
    }


    .footer-community{
       
        width: 100%;
        margin-left: 35px;
    }

    .footer-community ul{
         list-style-image: url('../images/footer-listing.png');
    }


    .footer-community h2{
        margin-bottom: 0;
        padding-left: 3px;
        margin-top: 7px;
        color: #000;
        opacity: 0.5;
        font-weight: bold;
        font-size: 20px;
        line-height: 1.2;
    }

    .the-blog{
        
        margin-top: 5%;
        margin-left: 5%;
        text-align: left;
        width: 100%;

    }


     

    .blog-header {

        padding-left: 3px;
        margin-top: 7px;
        font-style: italic;
        font-size: 20px;
        line-height: 1.2;
        font-family: "OpenSans";
        margin-bottom: 24px;
    }

    .blog-post {
        min-height: 70px;
        margin-top: 20px;
        margin-bottom: 15px;
        float: top;
    }
    .blog-img {
        height: 70px;
        width: 70px;
        background-color: #000;
        opacity: 0.2;
        border-radius: 5px;
        margin: 0 19px 0px 0;
        text-align: center;
        float: left;
    }

    .blog-text {
        font-size: 13px;
        font-family: "OpenSans";
        text-align: left;
        margin-bottom: 0;
    }

    .blog-date {
        
        font-size: 13px;
        font-family: "OpenSans";
        opacity: 0.5;
        color: #000;
        text-align: left;
    }

    .footer-bottom{
        background: #6AB3AC;

    }


    .footer-left{
          margin-top: 16px;
          margin-bottom: 16px;
          color: white;
        font-size: 12px;
        line-height: 1.8;
        text-align: left;
        float: left;
    }



    .footer-right{
        margin-top: 16px;
        margin-bottom: 16px;
        float: right;
        font-size: 12px;
    }

    .footer-right a{
         color: white;
         margin-left: 15px;
    }



}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}




/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */

    .logo{
        float: left;

    }
    .header-menu{
        font-family: 'Open Sans';
        font-weight:600;
        float: right;
        text-align: left;

         
    }
    .header-menu li{ display: inline; }


    .header-menu ul li a{    
        text-transform: uppercase;
        padding: 5px 10px;
        margin-left: 27px;
        margin-top:2px; 
        text-align: center;
        font-size: 13px;
        color: #fff;

    }

    .header-menu li a:link{
        text-decoration: none;
    }

    .header-navbar-nav .active a{

          background-color: #62A29E;
        color: #fff;
        border-bottom: 3px solid #528B86;
        border-radius: 5px;
        outline: none;

    }


    .header-navbar-nav .dropdown:hover .drop-menu{

         display: block;

    }




    .header-menu  li  a:hover {
        background-color: #E8645A;
        color: #fff;
        border-bottom: 3px solid #E2534B;
        border-radius: 5px;
        outline: none;
    }

    .header-navbar-nav .dropdown{
        position: relative;
      
    }

    .drop-menu{
        display: none;
        position: absolute;
        top: 30px;
        left: 15px;
        padding: 4px 4px 0 4px;
        width: 150px;
        background-color: #62A29E;
        border-radius: 5px;
        margin-left: 10px;  
    }

    .drop-menu li{
        width: 300px;
        background-color: #62A29E;
        color: white;
    }

    .drop-menu li:hover{
        background: red;
    }


    .search{
        position: relative;
    }

    .search:hover .search-holder{
        display: block;
    }

    .search-holder{
        display: none;
        position: absolute;
        top: 20px;
        right:5px;
    }
     




    .nav-header{
        float: left;
       
        color: #7F8C8C;
        text-transform: uppercase;
         
        position: relative;
        padding-bottom: 25px;
     
      
    }


    .nav-header h3{
         font-weight:600;
        font-size: 20px;
        padding-left: 6px;

    }

    .absolute {
        position: absolute;
        top: 53px;
        content: url('../images/nav-bar-triangle.png');
         
        
    }

    .header-bottom ul {
        float: right;  

    }

    .header-bottom ul li{
        display: inline;
    }

    ul.nav-breadcrumb {
     
        list-style: none;
        background-color: #eee;
        margin-right: 10px;
    }
    ul.nav-breadcrumb li {
        display: inline;
        font-size: 18px;

    }
    ul.nav-breadcrumb li+li:before {
        padding: 6px;
        color: black;
        content: url('../images/breadcrum_seperator.png'); ;
    }
    ul.nav-breadcrumb li a {
        
        color: #7F8C8C;
        font-size: 12px;
        text-decoration: none;
    }
    ul.nav-breadcrumb li a:hover {
        color: red;
       
    }

    .body-contents{
            font-family: 'Open Sans';
    }

    .product-slider{
         
    }

    .product-slider-title{

        padding: 23px 0px;
    }

    .product-slider-title h3{
        float: left;
         font-weight:700;
        font-size: 25px;
        color: #7F8C8C;
        margin: 2px 6px 0 6px;
    }

    .slider-buttons{
        background: #F3F3F3;
        width: auto;
        float: right;
        vertical-align: middle;
        margin: 0 2px 0 0;
    }

    .btn-slider{
        display: inline-block;
        margin-left: 20px;
        float: right;
        height: 41px;
        width: 40px;
        border: none;
        border-bottom: 4px solid #7F8C8C;
        background-color: #98A3A3;
        border-radius: 5px;
        padding: 0;
         font-weight:bolder;
        font-size: 25px;
        text-align: center;
        color: #fff;
    }

    .btn-slider:hover {
         background-color: red;
          border-bottom: 3px solid red;
          cursor: pointer;
    }

    .slider{
        
        margin:27px 0; 
        overflow: hidden;
        
    }

    .sliderImages {
        width : 1170px;
        height: 700px;
        border-radius: 5px ;
        overflow: hidden;
        border-bottom: 3px solid #7F8C8C;
        position: relative;
        left: 0;
    }

     .slider-control .left{
       
        height: 57px;
        width: 48px; 
        opacity: 1;
        border: none;
        background-color: red;
        border-bottom: 3px solid red;
        border-radius: 5px;
        padding: 0;
        font-weight:bolder;
        font-size: 40px;
        text-align: center;
        color: #fff;
        position: absolute;
        top: 320px;
        bottom: 0;
        left: 0;
       
    }

    .slider-control .right{
        height: 57px;
        width: 48px; 
        opacity: 1;
        border: none;
        background-color: red;
        border-bottom: 3px solid red;
        border-radius:5px 0 0 5px;
        padding: 0;
        font-weight:bolder;
        font-size: 40px;
        text-align: center;
        color: #fff;
        position: absolute;
        top: 320px;
        bottom: 0;
        right: 0;
      
    }

     .slider-indicators{
        padding: 20px;
        margin-left: 480px;
     }


     .slider-indicators li{
      
        display: inline;
     }

     .slider-image-indicator{
        content: url('../images/indicators.png');
     }

    .slider-indicators ul li{
        padding-right: 3px;
    }


    .slider-indicators ul li:hover{
         content: url('../images/indicator-active.png');
         cursor: pointer;
    }

      .current{
         content: url('../images/indicator-active.png');
     }




    .project-description{
        float: left;

         width: 740px;
    }

    .title{
         color: #7F8C8C;
         font-size: 16px;
         font-weight:bolder;
         text-transform: uppercase;
         padding-top: 24px;
         

    }

    .content-details{


        line-height: 22px;
        color: #7F8C8C;
        font-size: 14px;
    }


    .content-details p{
        padding-top: 20px;
        padding-bottom: 6px;
    }


    .project-details{
        float: right;
         width: 270px;
      }
     
     .project-content-details{
        padding-top: 8px;
         color: #7F8C8C;
        font-size: 14px;
     }

      .project-content-details ul li .list-left{
         float: left;
         margin: 0 5px;
      }

      .project-content-details ul li .list-left i{
         float: left;
         margin: 4px 10px;
      }



      .project-content-details ul li .list-right{
        float: right;
        width: 83px;
        text-align: right;
      }

      .project-content-details ul li .list-right a{
        color: red;
        text-decoration: none;
      }



       .project-content-details ul li {
        padding: 14px 0;
        border-bottom: solid 1px #7F8C8C;
      }

      .project-content-details ul li:last-child{
        border-bottom: none;
       
      }


    .related-products{
        padding:67px 0 59px 0;
        
    }


    .related-projects-title .title{
        float: left;
        padding-top: 0;
        padding-right: 20px;
        background-image: url('../images/related-dot.png');
        background-repeat: no-repeat; 
        background-position: right;
    }

    .related-projects-title .line{
        float: left;
        padding-top: 30px;
        height: 24px;
        width: 872px;
        background: url('../images/related-bar.png') repeat-x;
    }

    .related-slider-buttons{
        float: right;
        margin-top: -10px;
    }


    .related-btn-slider{
        display: inline-block;
        margin-left: 20px;
        float: right;
        height: 41px;
        width: 40px;
        border: none;
        border-bottom: 4px solid #7F8C8C;
        background-color: #98A3A3;
        border-radius: 5px;
        padding: 0;
         font-weight:bolder;
        font-size: 25px;
        text-align: center;
        color: #fff;
    }


    .related-btn-slider:hover {
         background-color: red;
          border-bottom: 3px solid red;
          cursor: pointer;
    }
    .related-products-slider {
        padding: 32px 0;
        
    }

    .related-products-slider li{
        display: inline;
        float: left;
         
    }

    .related-products-slider li .products-container{

        height: 270px;
        width: 270px;
        box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.10);
        position: relative;
    }



    .related-products-slider li:hover .products-popup {
        display: block;
    }



    .related-products-slider li .products-popup{
        position: absolute;
        top: 0;
        width: 270px;
        height: 270px;
        background: #83CCC5;
        display: none;
    }


    .related-products-slider ul li{
        margin:0 15px;
    }

    .related-products-slider ul li:first-child{
        margin:0 15px 0 0;
    }


    .related-products-slider ul li:last-child{
        margin:0 0;
    }

    .products-links{
        margin : 110px 90px;
    }

    .products-links ul li{
         
        padding: 10px;
         color: white;
         font-size: 16px;
         font-weight: bolder;
         background-color: #98A3A3;
    }


    .products-links ul li a{
         
     
         color: white;
         
    }

     
    .products-links ul li:hover{
         
         background-color: red;
        color: white;
        cursor: pointer;
             
    }

     
    .related-product-description{
        display: block;
        padding-top: 100px; 
        width: 120px;
        font-size: 14px;
        font-weight: bold;
        color: white;
    }

    .footer-top-img{
        background: url('../images/footer-top.png') repeat-x;
        height: 19px;
    }

    .footer-top{
        background: #76C7C0;
        color: white;
    }

    .footer-top-contents {
        padding-top: 29px;
    }

    .modus-versus{
        float: left;
        width: 370px;
    }

    .contact-text{
        width: 370px;
        font-size: 13px;
        line-height: 1.8;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .contact-info{
            font-size: 13px;
        line-height: 1.8;
        margin: 0;
    }

    .contact-info span{
        margin-left: 15px;
        font-style: italic;
        font-size: 20px;
    }

    .footer-company{
        float: left;
        width: 170px;
        margin-left: 35px;
    }

    .footer-lists {
        margin-left: 25px;
        margin-top: 25px;
    }




    .footer-lists li a {
        color: #fff;
        text-decoration: none;

    }

     .footer-lists li {
        color: #fff;
        font-size: 13px;
        
    }


    .footer-company ul{
         list-style-image: url('../images/footer-listing.png');
    }


    .footer-company h2{
        margin-bottom: 0;
        padding-left: 3px;
        margin-top: 7px;
        color: #000;
        opacity: 0.5;
        font-weight: bold;
        font-size: 20px;
        line-height: 1.2;
    }


    .footer-community{
        float: left;
        width: 170px;
        margin-left: 35px;
    }

    .footer-community ul{
         list-style-image: url('../images/footer-listing.png');
    }


    .footer-community h2{
        margin-bottom: 0;
        padding-left: 3px;
        margin-top: 7px;
        color: #000;
        opacity: 0.5;
        font-weight: bold;
        font-size: 20px;
        line-height: 1.2;
    }

    .the-blog{
        float: left;
        text-align: left;
        width: 355px;

    }


     

    .blog-header {

        padding-left: 3px;
        margin-top: 7px;
        font-style: italic;
        font-size: 20px;
        line-height: 1.2;
        font-family: "OpenSans";
        margin-bottom: 24px;
    }

    .blog-post {
        min-height: 70px;
        margin-top: 20px;
        margin-bottom: 15px;
        float: top;
    }
    .blog-img {
        height: 70px;
        width: 70px;
        background-color: #000;
        opacity: 0.2;
        border-radius: 5px;
        margin: 0 19px 0px 0;
        text-align: center;
        float: left;
    }

    .blog-text {
        font-size: 13px;
        font-family: "OpenSans";
        text-align: left;
        margin-bottom: 0;
    }

    .blog-date {
        
        font-size: 13px;
        font-family: "OpenSans";
        opacity: 0.5;
        color: #000;
        text-align: left;
    }

    .footer-bottom{
        background: #6AB3AC;

    }


    .footer-left{
          margin-top: 16px;
          margin-bottom: 16px;
          color: white;
        font-size: 12px;
        line-height: 1.8;
        text-align: left;
        float: left;
    }



    .footer-right{
        margin-top: 16px;
        margin-bottom: 16px;
        float: right;
        font-size: 12px;
    }

    .footer-right a{
         color: white;
         margin-left: 15px;
    }




}






