.main-container-wrapper{min-width: 1002px;font-family: Arial}
.container{width: 938px; margin:0 auto;}
.header-top {background-color: #7DD9E8;}
.header-top-contents{padding-top: 19px;padding-bottom: 3px; }
.search-wrapper{width:384px; float: left;padding: 0 24px;}
.user-wrapper{float: right; width: auto; text-align: right;}
.header-bottom{background-color: #F5F5F5}
.col3-left .left{float: left;}
.col3-left .main-content-wrapper{float: right; width: 718px;}
.main-content-wrapper .blog-wrapper{float: left; width:518px;}
.left-blog-column{float: left; width: 259px;}
.right-blog-column{float:right; width: 259px;}
.main-content-wrapper .right{float: right; width: 176px;}
